header{
    text-align: center;
}
table{
    margin-right: auto;
    margin-left: auto;
    border: 5px solid blue;
}
th{
    border: 3px solid blue;
    padding: 6px;
}
td{
    border: 3px solid blue;
    padding: 5px;
}
span{
    font-weight: 800;
}
.product-describtion{
    font-weight: bold;
    text-align: center;
}
th, td {
   padding: 0 20px;
}